In [15]:
import requests
import pandas as pd

In [3]:
#base_currency= 'USD'
#symbol = 'ALU, TUNGSTEN, TIN, IRON' 
#endpoint = 'latest'
#access_key = 'kw1gi2e747957w1xqebd3ok2hh7sgfljbt9q9f1y3hs37jxb2f9dcgh12xu4'

In [17]:
resp = #requests.get('https://www.metals-api.com/api/latest?access_key=kw1gi2e747957w1xqebd3ok2hh7sgfljbt9q9f1y3hs37jxb2f9dcgh12xu4&base=USD&symbols=TUNGSTEN')

In [18]:
#if resp.status_code != 200:
    #raise ApiError('GET /'+endpoint+'/ {}'.format(resp.status_code))

In [19]:
 #print(resp.json())

{'success': True, 'timestamp': 1649782320, 'date': '2022-04-12', 'base': 'USD', 'rates': {'TUNGSTEN': 93.38448458926, 'USD': 1}}

In [15]:
req1= requests.get('https://api.metals.live/v1/spot/commodities').json()
if resp.status_code != 200:
    raise ApiError('GET /'+endpoint+'/ {}'.format(resp.status_code))

In [16]:
print(req1)

[{'iridium': '6100.00'}, {'rhodium': '19100.00'}, {'ruthenium': '750.00'}, {'lead': '1.0843'}, {'aluminum': '1.47'}, {'copper': '4.6240'}, {'nickel': '77.960'}, {'tin': '19.65'}, {'zinc': '24.866'}, {'cobalt': '36.99'}, {'bronze': '1.77'}, {'brass': '2.11'}, {'timestamp': 1649781997664}]

In [27]:
resp3= requests.get(
        'https://www.metals-api.com/api/'+endpoint+'?access_key='+access_key+'&base='+base_currency+'&symbols='+symbol)

In [29]:
if resp3.status_code != 200:
    raise ApiError('GET /'+endpoint+'/ {}'.format(resp.status_code))

In [30]:
 print(resp3.json())

{'success': True, 'timestamp': 1649788080, 'date': '2022-04-12', 'base': 'USD', 'rates': {'USD': 1, 'XCU': 3.4021553831438}, 'unit': 'per ounce'}

In [11]:
base_currency = 'USD'
symbol = 'TUNGSTEN'  
#endpoint = 'latest'
access_key = 'kw1gi2e747957w1xqebd3ok2hh7sgfljbt9q9f1y3hs37jxb2f9dcgh12xu4'


endpoint = 'timeseries'
start_date = '2022-02-04'
end_date = '2022-04-21'
time_call = 'https://www.metals-api.com/api/'+endpoint+'?access_key='+access_key+ '&start_date=' + start_date +'& end_date='+end_date+'&base='+base_currency+'&symbols='+symbol

resp4=requests.get(time_call).json()

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [10]:
resp4

{'success': True,
 'timeseries': True,
 'start_date': '2022-02-04',
 'end_date': '2022-04-15',
 'base': 'USD',
 'rates': {'2022-02-04': {'USD': 1, 'TUNGSTEN': 99.726985255814},
  '2022-02-05': {'USD': 1, 'TUNGSTEN': 99.692093023256},
  '2022-02-06': {'USD': 1, 'TUNGSTEN': 99.692093023256},
  '2022-02-07': {'USD': 1, 'TUNGSTEN': 99.725988334884},
  '2022-02-08': {'USD': 1, 'TUNGSTEN': 99.771846697674},
  '2022-02-09': {'USD': 1, 'TUNGSTEN': 99.745926753488},
  '2022-02-10': {'USD': 1, 'TUNGSTEN': 98.811793465438},
  '2022-02-11': {'USD': 1, 'TUNGSTEN': 98.816732129032},
  '2022-02-12': {'USD': 1, 'TUNGSTEN': 98.773271889401},
  '2022-02-13': {'USD': 1, 'TUNGSTEN': 98.773271889401},
  '2022-02-14': {'USD': 1, 'TUNGSTEN': 98.840437714286},
  '2022-02-15': {'USD': 1, 'TUNGSTEN': 98.788087880184},
  '2022-02-16': {'USD': 1, 'TUNGSTEN': 98.851302774194},
  '2022-02-17': {'USD': 1, 'TUNGSTEN': 97.333447479576},
  '2022-02-18': {'USD': 1, 'TUNGSTEN': 97.322746792738},
  '2022-02-19': {'USD': 1, 'TUNGSTEN': 97.278971255673},
  '2022-02-20': {'USD': 1, 'TUNGSTEN': 97.278971255673},
  '2022-02-21': {'USD': 1, 'TUNGSTEN': 97.342202586989},
  '2022-02-22': {'USD': 1, 'TUNGSTEN': 97.309127736762},
  '2022-02-23': {'USD': 1, 'TUNGSTEN': 97.372359068079},
  '2022-02-24': {'USD': 1, 'TUNGSTEN': 96.785693729323},
  '2022-02-25': {'USD': 1, 'TUNGSTEN': 96.779892099248},
  '2022-02-26': {'USD': 1, 'TUNGSTEN': 96.693834586466},
  '2022-02-27': {'USD': 1, 'TUNGSTEN': 96.693834586466},
  '2022-02-28': {'USD': 1, 'TUNGSTEN': 96.726710490226},
  '2022-03-01': {'USD': 1, 'TUNGSTEN': 96.740247627068},
  '2022-03-02': {'USD': 1, 'TUNGSTEN': 96.707371723308},
  '2022-03-03': {'USD': 1, 'TUNGSTEN': 96.731545181955},
  '2022-03-04': {'USD': 1, 'TUNGSTEN': 96.730578243609},
  '2022-03-05': {'USD': 1, 'TUNGSTEN': 96.693834586466},
  '2022-03-06': {'USD': 1, 'TUNGSTEN': 96.693834586466},
  '2022-03-07': {'USD': 1, 'TUNGSTEN': 96.73734681203},
  '2022-03-08': {'USD': 1, 'TUNGSTEN': 96.786660667669},
  '2022-03-09': {'USD': 1, 'TUNGSTEN': 96.759586393985},
  '2022-03-10': {'USD': 1, 'TUNGSTEN': 96.760553332331},
  '2022-03-11': {'USD': 1, 'TUNGSTEN': 96.785693729323},
  '2022-03-12': {'USD': 1, 'TUNGSTEN': 95.261333333333},
  '2022-03-13': {'USD': 1, 'TUNGSTEN': 95.261333333333},
  '2022-03-14': {'USD': 1, 'TUNGSTEN': 95.29181696},
  '2022-03-15': {'USD': 1, 'TUNGSTEN': 95.289911733333},
  '2022-03-16': {'USD': 1, 'TUNGSTEN': 95.305153546667},
  '2022-03-17': {'USD': 1, 'TUNGSTEN': 95.352784213333},
  '2022-03-18': {'USD': 1, 'TUNGSTEN': 95.2803856},
  '2022-03-19': {'USD': 1, 'TUNGSTEN': 95.261333333333},
  '2022-03-20': {'USD': 1, 'TUNGSTEN': 95.261333333333},
  '2022-03-21': {'USD': 1, 'TUNGSTEN': 95.308011386667},
  '2022-03-22': {'USD': 1, 'TUNGSTEN': 95.3375424},
  '2022-03-23': {'USD': 1, 'TUNGSTEN': 95.3232532},
  '2022-03-24': {'USD': 1, 'TUNGSTEN': 94.464516343612},
  '2022-03-25': {'USD': 1, 'TUNGSTEN': 94.44657615859},
  '2022-03-26': {'USD': 1, 'TUNGSTEN': 94.422026431718},
  '2022-03-27': {'USD': 1, 'TUNGSTEN': 94.422026431718},
  '2022-03-28': {'USD': 1, 'TUNGSTEN': 94.436189735683},
  '2022-03-29': {'USD': 1, 'TUNGSTEN': 94.452241480176},
  '2022-03-30': {'USD': 1, 'TUNGSTEN': 94.502285154185},
  '2022-03-31': {'USD': 1, 'TUNGSTEN': 93.885676239416},
  '2022-04-01': {'USD': 1, 'TUNGSTEN': 93.919469675912},
  '2022-04-02': {'USD': 1, 'TUNGSTEN': 93.870656934307},
  '2022-04-03': {'USD': 1, 'TUNGSTEN': 93.870656934307},
  '2022-04-04': {'USD': 1, 'TUNGSTEN': 93.914776143066},
  '2022-04-05': {'USD': 1, 'TUNGSTEN': 93.957017938686},
  '2022-04-06': {'USD': 1, 'TUNGSTEN': 93.898818131387},
  '2022-04-07': {'USD': 1, 'TUNGSTEN': 93.938243807299},
  '2022-04-08': {'USD': 1, 'TUNGSTEN': 93.885676239416},
  '2022-04-09': {'USD': 1, 'TUNGSTEN': 93.325689404935},
  '2022-04-10': {'USD': 1, 'TUNGSTEN': 93.325689404935},
  '2022-04-11': {'USD': 1, 'TUNGSTEN': 93.397550185776},
  '2022-04-12': {'USD': 1, 'TUNGSTEN': 93.3938171582},
  '2022-04-13': {'USD': 1, 'TUNGSTEN': 93.376085277213},
  '2022-04-14': {'USD': 1, 'TUNGSTEN': 93.405016240929},
  '2022-04-15': {'USD': 1, 'TUNGSTEN': 93.402216470247}}}

In [34]:
import pandas as pd
from pandas import json_normalize
import json

In [48]:
info= pd.DataFrame.from_dict(resp4)

In [49]:
info

,success,timeseries,start_date,end_date,base,rates
2022-02-04,True,True,2022-02-04,2022-04-15,USD,"{'USD': 1, 'TUNGSTEN': 99.726985255814}"
2022-02-05,True,True,2022-02-04,2022-04-15,USD,"{'USD': 1, 'TUNGSTEN': 99.692093023256}"
2022-02-06,True,True,2022-02-04,2022-04-15,USD,"{'USD': 1, 'TUNGSTEN': 99.692093023256}"
2022-02-07,True,True,2022-02-04,2022-04-15,USD,"{'USD': 1, 'TUNGSTEN': 99.725988334884}"
2022-02-08,True,True,2022-02-04,2022-04-15,USD,"{'USD': 1, 'TUNGSTEN': 99.771846697674}"
...,...,...,...,...,...,...
2022-04-11,True,True,2022-02-04,2022-04-15,USD,"{'USD': 1, 'TUNGSTEN': 93.397550185776}"
2022-04-12,True,True,2022-02-04,2022-04-15,USD,"{'USD': 1, 'TUNGSTEN': 93.3938171582}"
2022-04-13,True,True,2022-02-04,2022-04-15,USD,"{'USD': 1, 'TUNGSTEN': 93.376085277213}"
2022-04-14,True,True,2022-02-04,2022-04-15,USD,"{'USD': 1, 'TUNGSTEN': 93.405016240929}"
2022-04-15,True,True,2022-02-04,2022-04-15,USD,"{'USD': 1, 'TUNGSTEN': 93.402216470247}"

In [50]:
type(info)

pandas.core.frame.DataFrame

In [51]:
info.columns

Index(['success', 'timeseries', 'start_date', 'end_date', 'base', 'rates'], dtype='object')

In [52]:
info.drop(['success','timeseries', 'start_date','end_date', 'base'], axis=1, inplace=True)

In [53]:
info.index.name='Date'

In [54]:
info

                                              rates
Date
2022-02-04  {'USD': 1, 'TUNGSTEN': 99.726985255814}
2022-02-05  {'USD': 1, 'TUNGSTEN': 99.692093023256}
2022-02-06  {'USD': 1, 'TUNGSTEN': 99.692093023256}
2022-02-07  {'USD': 1, 'TUNGSTEN': 99.725988334884}
2022-02-08  {'USD': 1, 'TUNGSTEN': 99.771846697674}
...                                             ...
2022-04-11  {'USD': 1, 'TUNGSTEN': 93.397550185776}
2022-04-12    {'USD': 1, 'TUNGSTEN': 93.3938171582}
2022-04-13  {'USD': 1, 'TUNGSTEN': 93.376085277213}
2022-04-14  {'USD': 1, 'TUNGSTEN': 93.405016240929}
2022-04-15  {'USD': 1, 'TUNGSTEN': 93.402216470247}

[71 rows x 1 columns]

In [55]:
info=info.rates.apply(pd.Series)

In [56]:
info

            USD   TUNGSTEN
Date
2022-02-04  1.0  99.726985
2022-02-05  1.0  99.692093
2022-02-06  1.0  99.692093
2022-02-07  1.0  99.725988
2022-02-08  1.0  99.771847
...         ...        ...
2022-04-11  1.0  93.397550
2022-04-12  1.0  93.393817
2022-04-13  1.0  93.376085
2022-04-14  1.0  93.405016
2022-04-15  1.0  93.402216

[71 rows x 2 columns]

In [57]:
info.columns

Index(['USD', 'TUNGSTEN'], dtype='object')

In [58]:
info.drop('USD', axis=1, inplace=True)
info

             TUNGSTEN
Date
2022-02-04  99.726985
2022-02-05  99.692093
2022-02-06  99.692093
2022-02-07  99.725988
2022-02-08  99.771847
...               ...
2022-04-11  93.397550
2022-04-12  93.393817
2022-04-13  93.376085
2022-04-14  93.405016
2022-04-15  93.402216

[71 rows x 1 columns]

In [12]:
base_currency = 'USD'
symbols = 'ALU,TUNGSTEN,TIN,IRON, XCU'  
endpoint = 'latest'
access_key = 'kw1gi2e747957w1xqebd3ok2hh7sgfljbt9q9f1y3hs37jxb2f9dcgh12xu4'

resp5 = requests.get(
        'https://www.metals-api.com/api/'+endpoint+'?access_key='+access_key+'&base='+base_currency+'&symbols='+symbols)
if resp5.status_code != 200:
        # This means something went wrong.
    raise ApiError('GET /'+endpoint+'/ {}'.format(resp5.status_code))
print(resp5.json())

{'success': True, 'timestamp': 1650561300, 'date': '2022-04-21', 'base': 'USD', 'rates': {'ALU': 9.7093689436699, 'IRON': 208.30143449258, 'TIN': 0.81763716742448, 'TUNGSTEN': 93.404082984035, 'USD': 1}}

In [13]:
type(resp5)

requests.models.Response

In [24]:
json.loads(resp5[0].text)

NameError: name 'json' is not defined

In [16]:
info2=pd.DataFrame.from_dict(resp5)

In [20]:
type(info2)

pandas.core.frame.DataFrame

In [21]:
info2

                                                   0
0  b'{"success":true,"timestamp":1650561300,"date...
1  b'IN":0.81763716742448,"TUNGSTEN":93.404082984...