In [ ]:
import pandas as pd
import os

In [2]:
tungsten=pd.read_csv('tungsten_daily_price.csv')
tungsten

          Date  Tungsten Price
0   2022-02-04      322.390173
1   2022-02-05      322.503009
2   2022-02-06      322.503009
3   2022-02-07      322.393396
4   2022-02-08      322.245213
..         ...             ...
76  2022-04-21      344.372353
77  2022-04-22      344.313842
78  2022-04-24      339.503168
79  2022-04-25      339.326718
80  2022-04-26      339.353852

[81 rows x 2 columns]

In [3]:
import plotly.express as px

In [4]:
import plotly.graph_objs as go
import chart_studio.plotly as py

In [ ]:
fig= px.line(tungsten, x='Date', y='Tungsten Price USD/tonne',
             title='Tungsten price evolution')